.comments-row {
  display: flex;
  align-content: center;
  border-top: thin solid #555;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

mat-list-item {
  border-bottom: thin solid #555;
  margin-bottom: 10px; 
  height: 60px;
}

mat-form-field {
  width: 90%;
}